In [1]:
import pandas as pd

In [2]:
# Load the data from the CSV file
house_sales_df = pd.read_csv('./house_sales.csv')

In [3]:
# Display a random sample of 5 rows from the DataFrame
print("\nRandom sample of 5 rows from the DataFrame:")
house_sales_df.sample(5)

Random sample of 5 rows from the DataFrame:

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
561,1734487,Silvertown,61746,2/3/2021,5.7,2,Terraced,169.5 sq.m.
756,1605792,Teasdale,230687,7/7/2021,3.1,3,Detached,298.8 sq.m.
33,1834295,Silvertown,198761,1/19/2020,6.9,3,Detached,270.6 sq.m.
1243,1421698,Poppleton,332567,6/20/2022,4.5,6,Detached,565.0 sq.m.
1428,1105394,Riverford,210891,11/10/2022,7.3,5,Detached,443.5 sq.m.

In [4]:
# Display concise information about the DataFrame
print("\nDataFrame information:")
print(house_sales_df.info())

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   int64
 1   city           1500 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   object
 4   months_listed  1469 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   object
 7   area           1500 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 93.9+ KB
None

In [5]:
# Display the count of null values in each column
print("\nCount of null values in each column:")
print(house_sales_df.isnull().sum())

Count of null values in each column:
house_id          0
city              0
sale_price        0
sale_date         0
months_listed    31
bedrooms          0
house_type        0
area              0
dtype: int64

In [6]:

# Display unique values in the 'city' column and Value counts
print("\nUnique values in 'city' column:")
print(house_sales_df['city'].unique())

print("\nValue counts for 'city':")
print(house_sales_df['city'].value_counts())

Unique values in 'city' column:
['Silvertown' 'Teasdale' 'Poppleton' 'Riverford' '--']

Value counts for 'city':
Silvertown    517
Teasdale      366
Poppleton     362
Riverford     182
--             73
Name: city, dtype: int64

In [7]:
# Display unique values in the 'house_type' column and Value counts
print("\nUnique values in 'house_type' column:")
print(house_sales_df['house_type'].unique())

print("\nValue counts for 'house_type':")
print(house_sales_df['house_type'].value_counts())

Unique values in 'house_type' column:
['Semi-detached' 'Detached' 'Terraced' 'Det.' 'Terr.' 'Semi']

Value counts for 'house_type':
Detached         1046
Semi-detached     231
Terraced          123
Det.               78
Semi               14
Terr.               8
Name: house_type, dtype: int64

In [8]:
# Display unique values in the 'bedrooms' column and Value counts
print(house_sales_df['bedrooms'].value_counts())

3    314
6    306
5    305
2    288
4    287
Name: bedrooms, dtype: int64